/* signin.css */

@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.signin-container {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  max-height: 100vh; /* Set the maximum height of the body to 100% of the viewport height */
}

.container {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  max-width: 100%; /* Ensure container doesn't exceed viewport width */
  height: 500px;
  position: relative;
  box-shadow: 8px 8px 0px #000; /* Neubrutalism shadow effect */
}

.top-left-image {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

.top-left-image img {
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  font-size: 40px;
  font-family: "Bungee", sans-serif; /* Apply Bungee font */
}

.welcome-message {
  padding-left: 100px;
  margin-bottom: 40px;
  font-family: "Bungee", sans-serif; /* Apply Bungee font */
}

.welcome-message p {
  font-size: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.ant-input {
  height: 40px;
}

.create-folder-button {
  margin-left: 80px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Bungee", sans-serif; /* Apply Bungee font */
  font-size: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-folder-button:hover {
  background-color: #000000 !important; /* Lighter background color on hover */
  transform: translateY(-5px) !important; /* Add slight lift effect on hover */
  box-shadow: 4px 4px 0px #000 !important; /* Neubrutalism shadow effect */
}

.form-signin {
  margin-left: 100px;
}

@media screen and (max-width: 768px) {
  /* Adjust layout for smaller screens */
  .container {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .welcome-message {
    padding-left: 0;
    text-align: center;
  }

  .input,
  .ant-btn {
    margin-left: 0;
  }
}
